<div class="backdrop">
    <!-- problem close modal -->
    <div class="modal-box">
        <div class="modal-box-header">
            <span class="modal-box-title">Close Problem</span>
            <span class="close-icon" data-ng-click="toggleCloseModal()"></span>
        </div>
        <div class="modal-box-content">
            <span class="content-text">Are you sure you want to close this problem?</span>
            <span class="modal-box-close-text">Users won’t be able to add any answers.</span>
        </div>
        <div class="modal-box-footer">
            <span class="no" data-ng-click="toggleCloseModal()">NO</span>
            <span class="yes" data-ng-click="close()">YES</span>
        </div>
    </div>
</div>
