<div class="backdrop">
    <!-- delete problem modal -->
    <div class="modal-box">
       <div class="modal-box-header">
           <span class="modal-box-title">Delete Problem</span>
           <span class="close-icon" data-ng-click="toggleDeleteModal()"></span>
       </div>
       <div class="modal-box-content">
           <span class="content-text">Are you sure you want to delete this problem?</span>
       </div>
       <div class="modal-box-footer">
           <span class="no" data-ng-click="toggleDeleteModal()">NO</span>
           <span class="yes" data-ng-click="delete()">YES</span>
       </div>
    </div>
</div>
